h1#header {
  text-align: center;
  color: rgb(0, 26, 139);
}

div#header1 {
  border: 2px solid rgb(0, 26, 139);
  background: #3b3b36;
  border-radius: 10px;
  padding: 10px
}

h2#title {
  color: rgb(0, 26, 139);
  text-align: center;
}

div#name {
  color: darkgreen;
  border: 2px solid rgb(0, 26, 139);
  background: #000000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

div#setup {
  color: purple;
  border: 2px solid rgb(0, 26, 139);
  background: #000000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

div#projectlinks {
  border: 2px solid rgb(0, 26, 139);
  background: #000000;
  border-radius: 10px;
}

h3#projectdesc {
  color: brown;
}

a#projectdesc {
  color: blue;
}

ul#projectlist {
  color: red;
}

a:link {
  color: orange;
}

a:visited {
  color: yellow;
}

a:hover {
  color: green;
}

body {
  background: #000000;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 1;
  padding: 1;
}
